- tweets.each do |t|
  .panel.panel-info
    .panel-heading
      %h2.panel-title{style: 'font-weight:bold !important;'}= t.user.full_name
      %span{style: 'color:grey !important'}
      = link_to "@#{t.user.username}", profile_path(t.user), style: 'text-decoration: none'
      - unless current_user != t.user
        = button_to 'Delete', t, :method => :delete, :data => { :confirm => 'Are you sure want to delete tweet?' }, class: "btn btn-xs btn-secondary"
    .panel-body
      = t.content
    .panel-footer
      = "#{time_ago_in_words(t.created_at)} ago"
