.panel.panel-primary
  .panel-heading
    %h2.panel-title{style: 'font-weight:bold !important;'} Profile
  .panel-body
    %p{style: 'font-weight:bold'}= user.full_name
    = "@#{user.username}"
    - unless user == current_user
      - if current_user.following?(user)
        = button_to 'Unfollow', follow_path(id: user.id), method: :delete, class: 'btn btn-xs btn-secondary pull-right'
      - else
        = button_to 'Follow', follows_path(id: user.id), method: :create, class: 'btn btn-xs btn-secondary pull-right'
  %ul.list-group
    %li.list-group-item
      = "Tweets: #{user.tweets.count}"
    %li.list-group-item
      = "Following: #{user.following.count}"
    %li.list-group-item
      = "Followers: #{user.followers.count}"
  - if user == current_user
    .panel-footer{style: 'text-align:center !important;'}
      = link_to 'Log out', destroy_user_session_path, method: :delete
