.container
  .jumbotron
    %h1 Hello World
    %p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    .row
      .col-md-3
        = button_to "Sign up", new_user_registration_path, class: 'btn btn-lg btn-primary', method: :get
      .col-md-3
        = button_to "Sign in", new_user_session_path, class: 'btn btn-lg btn-danger', method: :get
