.container
  .row
    .col-md-3
      = render partial: "shared/user-details", locals: { user: current_user }
      .panel.panel-info
        .panel-heading
          %h2.panel-title{style: 'font-weight:bold !important'} Discover Users
        %ul.list-group
          - @users.each do |user|
            - unless user.id == current_user.id
              %li.list-group-item
                .row
                  .col-md-6
                    = user.full_name
                  .col-md-6
                    - if current_user.following?(user)
                      = button_to 'Unfollow', follow_path(id: user.id), method: :delete, class: 'btn btn-xs btn-secondary pull-right'
                    - else
                      = button_to 'Follow', follows_path(id: user.id), method: :create, class: 'btn btn-xs btn-secondary pull-right'
        .panel-footer
          = link_to 'See more', follows_path
    .col-md-9
      .tweet-form
        = form_for @tweet, :url => tweets_path do |f|
          .form-group
            = f.text_area :content, class: 'form-control', placeholder: "What's on your mind", :cols => 5, :rows => 5
          .form-group
            = f.submit 'Tweet', class: 'btn btn-secondary'

      .tweets-container
        = render partial: "shared/tweets", locals: { tweets: @tweets }
