.row
  .col-md-3
    .panel.panel-primary
      .panel-heading
        %h2.panel-title{style: 'font-weight:bold !important;'} Profile
      .panel-body
        %p{style: 'font-weight:bold'}= current_user.full_name
        = "@#{current_user.username}"
      %ul.list-group
        %li.list-group-item
          = "Following: #{current_user.following.count}"
        %li.list-group-item
          = "Followers: #{current_user.followers.count}"
      .panel-footer{style: 'text-align:center !important;'}
        = link_to 'Log out', destroy_user_session_path, method: :delete
  .col-md-9
    %h3 Discover Users
    %ul.list-group
      - @unfollowed_users.each do |user|
        - unless user.id == current_user.id
          %li.list-group-item
            .row
              .col-md-6
                = user.full_name
              .col-md-6
                - if current_user.following?(user)
                  = button_to 'Unfollow', follow_path(id: user.id), method: :delete, class: 'btn btn-xs btn-secondary pull-right'
                - else
                  = button_to 'Follow', follows_path(id: user.id), method: :create, class: 'btn btn-xs btn-secondary pull-right'
