%nav.navbar-default
  .container-fluid
    .navbar-header
      = link_to "Twitter Clone", root_path, class: "navbar-brand"
    .collapse.navbar-collapse
      - if user_signed_in?
        %ul.nav.navbar-nav
          %li.nav-item
            = link_to "Home", root_path
          %li.nav-item
            = link_to "Global Feed", root_path
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.full_name
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to 'Edit Profile', edit_user_registration_path
              %li
                = link_to 'Log out', destroy_user_session_path, method: :delete
