.container
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field.form-group
      = f.label :first_name
      %br/
      = f.text_field :first_name, class: 'form-control'
    .field.form-group
      = f.label :last_name
      %br/
      = f.text_field :last_name, class: 'form-control'
    .field.form-group
      = f.label :username
      %br/
      = f.text_field :username, class: 'form-control'
    .field.form-group
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, class: 'form-control'
    .field.form-group
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "off", class: 'form-control'
    .field.form-group
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
    .actions
      = f.submit "Sign up", class: 'btn btn-primary pull-right'
  = render "users/shared/links"
